body {
    font-family: "Dosis", sans-serif;
    background-image: linear-gradient( to right top, #d87368, #906b69, #fe8a82, #0a0a097a, #e47878 );
    background-attachment: fixed;
    text-align: center;
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    font-size: 1rem;
  }
  h1{
      text-align: center;
      margin: 2rem;
  }

.invisible {
    display: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
.container .attack{
   width:10px;
   height: 10px;
   background-color: aliceblue;
   position: absolute;
   left:0;
   top:0;
   bottom: 0;
   right: 0;
   margin: auto;
   margin-top: 10rem;
   margin-top: 40rem;
}

#showCharacters{
    visibility: hidden;
    position: fixed;
    background-color: transparent;
    top:0;
    left:0;
     width: 40%;
    height: 70%;
    margin: 1rem;
    color: rgba(7, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.selectedPlayer{
    visibility: hidden;
    float: left;
    margin-top:4rem;
    height: 25%;
    width: 25%;
    text-align: center;
}
p{
    text-align: center;
    color: black;
    font-weight: 300;
}
.playerEnemyDisplay{
    display: flex;
    justify-content: space-between;
}
.box {
    background: #9E9E9E;
    border: black 1px solid;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    color: black;
 
}
#attack{
    margin: 15rem;
}
#characters{
    margin-top: 10px;
}

.row {
    display: block;
    float:left;
    width:100%;
}

  label{
      padding: 8PX;
  }
  button{
      background-color: black;
      color: blanchedalmond;
      padding: 1em 2em;
      font-size: 15px;
      font-family:"Press Start 2P", "Courier New", Courier, monospace;
      border:1px solid;
      box-shadow: 2px 5px;
  }
  