:root{
    --accent-color-1: #67f15a;
    --accent-color-2: #0fe419;
}
body {
    font-family: "Dosis", "sans-serif";
    background-image: linear-gradient( to right top, #d87368, #906b69, #fe8a82, #0a0a097a, #e47878 );
    background-attachment: fixed;
    text-align: center;
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    font-size: 1rem;
  }
  h1{
      text-align: center;
      margin: 2rem;
  }

.invisible {
    display: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
.container .attack{
   width:10px;
   height: 10px;
   background-color: aliceblue;
   position: absolute;
   left:0;
   top:0;
   bottom: 0;
   right: 0;
   margin: 0 auto;
   margin-top: 20rem;
  
}

#showCharacters{
    visibility: hidden;
    position: fixed;
    background-color: transparent;
    top:0;
    left:0;
     width: 40%;
    height: 70%;
    margin: 1rem;
    color: rgba(7, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.selectedPlayer{
    visibility: hidden;
    float: left;
    margin-top:4rem;
    text-align: center;
}
p{
    text-align: center;
    color: rgb(17, 238, 238);
   font-weight: 300;
 }

.playerEnemyDisplay{
    display: flex;
    justify-content: space-between;
}
.box {
    background: #9E9E9E;
    border: black 1px solid;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    color: black;
 
}
progress[value] {
   
     border: none;
    width: 5rem;
    height: 1.5rem;
    flex: 8;
  }
   #health{
       display: flex;
       justify-content:space-between;
       text-align: center;
   }
 
  .health label {
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px #00000080 inset;
    margin: 0.5rem;
  }
  progress[value]::-webkit-progress-value {
    background: var(--accent-color-1);
    background-image: -webkit-linear-gradient(
      150deg,
      var(--accent-color-1) 50%,
      var(--accent-color-2) 100%
    );
    border-radius: 2px;
  }
#attack{
    margin: 15rem;
}
#characters{
    margin-top: 10px;
}
  label{
      padding: 8PX;
  }
  button{
      display: block;
      margin: auto;
      background-color: black;
      color: blanchedalmond;
      padding: 1em 2em;
      font-size: 15px;
      font-family:"Press Start 2P", "Courier New", Courier, monospace;
      border:1px solid;
      box-shadow: 2px 5px;
    
  }
  #gameResult{
    visibility: hidden;
    position: fixed;
    top:0;
    left:0;
     width: 100%;
    height: 30%;
    color: rgba(7, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gameOver{
    background-color:transparent;
    padding: 100px 0 0 0;
    background-color: aliceblue;
    width: 40%;
    height:40%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    font-family: "Press Start 2P", cursive;
    margin-top: 50rem;
    margin-left: 8rem;
  }
  
  .gameover button {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    outline: none;
  }
  